@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$font-pacifico: "Pacifico";

$color-prussianblue: #102B3F;
$color-coolgray: #7D8CA3;
$color-alabaster: #E8EDDF;
$color-harvestgold: #ECA400;
$color-seagreen: #388659;

body {
    background-color: $color-alabaster;
}